<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instrument.shakemusic"
    android:versionCode="1"
    android:versionName="1.0" 
    android:configChanges="locale|orientation">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.instrument.shakemusic.MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ComposeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="PlayActivity"
            android:configChanges="locale" >
        </activity>
        <activity
            android:name="Voice"
            android:configChanges="locale" >
        </activity>
        <activity
            android:name="com.instrument.shakemusic.Instructions"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.instrument.shakemusic.INSTRUCTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.instrument.shakemusic.Lang"
            android:configChanges="locale"
            android:label="@string/app_name"
           >
            <intent-filter>
                <action android:name="com.instrument.shakemusic.LANG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>